gradle/wrapper/gradle-wrapper.jar
local.properties
*.iml
captures
app/build
*.png
*.zip
*.mp4
.project
.gradle
.idea
.settings
.classpath
google-java-format-1.8-all-deps.jar
.ipynb_checkpoints
android-ndk-r20b
gradle-6.5
custom_bashrc